*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata

/keys/release.keystore

.kotlin/*
iosApp/Pods/*
IDEWorkspaceChecks.plist
Package.resolved
/keys/persona-1e95c-3f1efd770db3.json
/keys/persona-5b83b-b28629f60085.json
